/* Reset margin and padding for all elements and set box-sizing to border-box for consistent sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures consistent sizing */
}

/* Nav Bar styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px; /* Set the height of the navigation bar */
    background-color: #0f1111; /* Set the background color of the navigation bar */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; /* Set the font family for the navigation bar */
    color: white; /* Set the text color to white */
    letter-spacing: 0.1em; /* Set the letter spacing */
    padding-left: 10px 20px;
}

.icon {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center items vertically */
}

nav h2 {
    padding-left: 10px; /* Add padding to the heading */
    font-size: 40px;
    margin-right: 20px;
    color: white; 
    font-weight: 100;
}

.material-symbols-outlined {
    font-size: 70px;
    color: white;
    margin-right: 10px;
    padding-left: 35px;
}

.menu {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center items vertically */
}

/* List items in the navigation bar */
nav ul li {
    list-style: none; /* Remove default list styling */
    display: inline; /* Display list items inline */
    padding: 35px; /* Add padding to list items */
}

/* Links in the navigation bar */
nav ul li a {
    color: white; /* Set link color to white */
    text-decoration: none; /* Remove underline from links */
    font-size: 25px;
}

/* Button styles */
.button {
    scale: 0.7; /* Scale the button */
    padding: 0 3em; /* Add padding inside the button */
    width: 15em; /* Set the width of the button */
    height: 4em; /* Set the height of the button */
    background: white; /* Set the background color of the button */
    color: black; /* Set the text color of the button */
    border: none; /* Remove border */
    border-radius: 2em; /* Round the corners of the button */
    font-size: 1.25em; /* Set the font size */
    font-weight: bold; /* Make the text bold */
    cursor: pointer; /* Change cursor to pointer on hover */
    z-index: 1; /* Set z-index for stacking order */
    overflow: hidden; /* Hide overflow content */
}

/* Button hover effect */
.button:hover {
    color: white; /* Change text color to white on hover */
}

/* Button hover effect with pseudo-element */
.button:hover:after {
    content: ""; /* Add empty content */
    background: #007185; /* Set background color to black */
    position: absolute; /* Position absolutely */
    z-index: -1; /* Set z-index for stacking order */
    left: -20%; /* Position 20% to the left */
    right: -20%; /* Position 20% to the right */
    top: 0; /* Position at the top */
    bottom: 0; /* Position at the bottom */
    transform: skewX(-45deg) scale(0, 1); /* Skew and scale the element */
    transition: all 0.5s; /* Add transition effect */
}

/* Button hover effect with pseudo-element transition */
.button:hover:after {
    transform: skewX(-45deg) scale(1, 1); /* Skew and scale the element on hover */
    -webkit-transition: all 0.5s; /* Add transition effect for WebKit browsers */
    transition: all 0.5s; /* Add transition effect */
}

/* Hero section styles */
.hero-section {
    background-image: url("images/ant-rozetsky-q-DJ9XhKkhA-unsplash.jpg"); /* Set background image */
    height: 100vh; /* Set height to full viewport height */
    background-image: no-repeat; /* Prevent background image from repeating */
    background-size: cover; /* Cover the entire section with the background image */
    padding: 0px 100px; /* Add padding to the section */
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center items vertically */
    justify-content: flex-start; /* Align items to the start */
    position: relative;
}

.hero-section::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(to bottom, rgba(0, 59, 76, 0) 0%, rgba(0, 59, 76, 1) 100%);
    pointer-events: none;
}

/* Hero section heading styles */
.hero-section h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; /* Set font family */
    font-weight: bolder; /* Make the text bolder */
    font-size: 64px; /* Set font size */
    width: 500px; /* Set width */
}

/* Button styles */
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    scale: 1;
    width: 6.5em; /* Set the width of the button */
    height: 2em; /* Set the height of the button */
    background: black; /* Set the background color of the button */
    color: white; /* Set the text color of the button */
    border: none; /* Remove border */
    border-radius: 2em; /* Round the corners of the button */
    font-size: 1em; /* Set the font size */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer; /* Change cursor to pointer on hover */
    position: absolute; /* Position absolutely */
    z-index: 1; /* Set z-index for stacking order */
    overflow: hidden; /* Hide overflow content */
    text-decoration: none;
    letter-spacing: 0.1em;
}

/* Button hover effect */
.btn:hover {
    color: black; /* Change text color to black on hover */
}

/* Button hover effect with pseudo-element */
.btn:after {
    content: ""; /* Add empty content */
    background: white; /* Set background color to white */
    position: absolute; /* Position absolutely */
    z-index: -1; /* Set z-index for stacking order */
    left: -20%; /* Position 20% to the left */
    right: -20%; /* Position 20% to the right */
    top: 0; /* Position at the top */
    bottom: 0; /* Position at the bottom */
    transform: skewX(-45deg) scale(0, 1); /* Skew and scale the element */
    transition: all 0.5s; /* Add transition effect */
}

/* Button hover effect with pseudo-element transition */
.btn:hover:after {
    transform: skewX(-45deg) scale(1, 1); /* Skew and scale the element on hover */
    -webkit-transition: all 0.5s; /* Add transition effect for WebKit browsers */
    transition: all 0.5s; /* Add transition effect */
}

/* Footer styles */
footer {
    background: radial-gradient(circle, #222, #000); /* Set background color */
    color: white; /* Set text color */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    justify-content: center;
}

footer h1 h2 h3 {
    font-weight: 10px !important;
    letter-spacing: 0.5;
}

.material-symbols-outlined {
    font-size: 100px !important;
    color: white;
    margin-right: 10px;
    padding-left: 35px;
    padding-right: 20px;
    margin-top: -10px;
}

/* Unordered list styles */
ul {
    margin-top: 20px; /* Add top margin */
}

/* footer panel styles */
.foot-panel{
    height: 200px; /* Set height */
    display: flex;  /* Enables flexbox */
    justify-content: center; /* Centers the divs horizontally */

}
.foot-box1{ 
    width: 25%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    font-weight: lighter;
    letter-spacing: 0.1em;

}
.foot-box2{ 
    width: 25%;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    font-size: small;
    align-items: center;
    text-align: center;
    font-family: "Poppins", serif !important;
}
.foot-box3{ 
    width: 25%;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    font-size: small;
    font-family: "Poppins", serif !important;
}
.foot-box4{ 
    width: 25%;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    font-size: small;
    font-family: "Poppins", serif !important;
}


/* Pages section styles */
.pages {
    padding-top: 25px; /* Add top padding */
}

/* Copyright section styles */
.copyright {
    padding-top: 5px; /* Add top padding */
}

/* Sliding section styles */
.explore-lists {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: grid;
    align-items: center;
    justify-content: center;
    min-height: 20vh;
    position: relative;
    background: linear-gradient(to top, rgba(0, 59, 76, 1) 0%, rgba(240, 229, 211, 1) 20%, rgba(240, 229, 211, 1) 80%, rgba(0, 59, 76, 1) 100%);
}

.card-wrapper {
    max-width: 1100px;
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
}

.card-list .card-item {
    list-style: none;
}
.card-list .card-item .card-link {
    user-select: none;
    display: block !important;
    background: black;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    border: 2px solid transparent;
    transition: 0.2s ease;
}

.card-list .card-item .card-link:active {
    cursor: grabbing;
}

.card-list .card-item .card-link:hover {
    border-color: white;
}

.card-list .card-link .card-image {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 10px;
}

.card-list .card-link .badge {
    color: #007185;
    background: white;
    margin: 16px 0 18px;
    padding: 8px 16px;
    font-size: 0.95rem;
    font-weight: 500;
    width: fit-content;
    border-radius: 50px;
}

.card-list .card-link .badge:hover {
    color: white;
    background: #007185; 
}

.card-list .card-link .card-title {
    font-size: 2.5rem;
    color: white;
    font-weight: 400;
}

.card-list .card-link .card-button {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin: 30px 0 5px;
    border: 2px solid #e2e7e6;
    color: #e2e7e6;
    background: none;
    cursor: pointer;
    transition: 0.4s ease;
}

.card-list .card-link:hover .card-button {
    color: white;
    background: #007185;
}

.card-wrapper .swiper-pagination-bullet {
    height: 20px;
    width: 20px;
    opacity: 0.5;
    background: #007185;
}

.card-wrapper .swiper-pagination-bullet-active {
    opacity: 1;
}

.card-wrapper .swiper-slide-button {
    color: #007185;
    margin-top: -35px;
}

@media screen and (max-width: 1024px) {
    .card-wrapper {
        margin: 0 10px 25px;
    }

    .card-wrapper .swiper-slide-button {
        display: none;
    }
}

.card-image {
    object-fit: cover;
}

.swiper-button-next {
    color: #007185;
    font-weight: bolder;
    font-size: 100px;
    width: 250px;
    height: 50px;
}

.swiper-button-prev {
    color: #007185;
    font-weight: bolder;
    font-size: 100px;
    width: 250px;
    height: 50px;
}

.wave1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave1 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 226px;
}

.wave1 .shape-fill {
    fill: #00394F;
}

.wave2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1739995870 svg {
    position: relative;
    display: block;
    width: calc(133% + 1.3px);
    height: 185px;
}

.custom-shape-divider-bottom-1739995870 .shape-fill {
    fill: #00394F;
}